@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Noto+Sans+HK:wght@300&family=Patrick+Hand&family=Zen+Dots&display=swap');

.footer-2 {
    background-color: #FAF4F0;
    height: 10vh;
    width: 100%;
    border: black;
    border-right: 1mm solid black;
    border-left: 1mm solid black;
    border-bottom: 1mm solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#made {
    margin: 0;
    font-family: 'Patrick Hand', cursive;
    font-size: 2.2vh;
    letter-spacing: 0.2em;
}