@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.homePageMain {
    height: 90vh;
    width: 100%;
    /* background-color: #FFD6D4; */
    background-image: linear-gradient(#FFD6D4 50%, #FEE8BD);
    overflow: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black;
    border-bottom: 1mm solid black;
    border-right: 1mm solid black;
    border-left: 1mm solid black;
}

#name {
    font-family: 'Patrick Hand', cursive;
    font-size: 12vh;
    font-weight: 700;
    position: absolute;
    width: auto;
    display: inline-block;
    color: black;
    top: 45vh;
    letter-spacing: 0.6vh;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    display: inline-block;
    /* letter-spacing: .15em; */
    animation:
            typing 2.5s steps(25, end),
            blink-caret .5s step-end 2, 
            textgrowth 1.5s 1.5s 1 alternate,
            slide-up 1.5s 1.5s 1 alternate;
    animation-fill-mode: forwards; 
}

@keyframes textgrowth {
    0% {
    font-size: 12vh;
    }
    100% {
    font-size: 5vh;
    }
}

@keyframes slide-up {
    from {
        /* opacity: .25; */
        top: 45vh;
    }
    to {

        /* opacity: 1; */
        top: 25vh;
    }
}
/* The typing effect */
@keyframes typing {
    from { max-width: 0 }
    to { max-width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #DF7570}
}

@keyframes bunny-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,75%,0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.nav-bar {
    height: 10vh;
    width: 100%;
    background: #FAF4F0;
    border: 1mm solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-bar .nav {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 3vh;
    text-align: right;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

/* .nav-bar #about:hover {
    text-decoration: underline;
    text-decoration-color: #F2B611;
    text-decoration-thickness: 6.5px;
}

.nav-bar #project:hover {
    text-decoration: underline;
    text-decoration-color: #58ABAE;
    text-decoration-thickness: 6.5px;
} */

#hand {
    display: inline-block;
}

.directory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#bunny-home {
    height: 66vh;
    width: 48vh;
    position: relative;
    /* top: 200vh; */
    bottom: -12vh;
    overflow-y: hidden;
    opacity: 0.9;
    animation:  bunny-show 1.5s 0s 1 alternate, 
                fadeInUp 1.5s 1.5s 1 alternate;
}